* {box-sizing: border-box}

/* Set height of body and the document to 100% */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}




            #bg
            {
                background-image: url("income.jpg");
                height:100%;
                background-repeat: no-repeat;
                background-position: center;
                background-blend-mode: saturation;
                background-size: cover;
            }
            #outer 
            {
                position: absolute;
                border: 3px solid yellow;
                border-radius: 10px;
                width: 600px;
                background-color: lightyellow;
                color: #000000;
                padding-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
                padding-bottom: 20px;
                padding-right: 10px;
                padding-left: 50px;
            }

#RequestService {background-color: #000000;}
#ViewService {background-color: #000000;}
#TaxCalculator {background-color: #000000;}
#About {background-color: #000000;}