<!DOCTYPE html>
<html>
<head><title>Client Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="{{url_for('static', filename='ClientHome.css')}}">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">-->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	
<!--adding the client side javascript.It will listen for any click on notification link, prevent the default action, 
send xhr async request to nodejs server asking to scrape the data from cbic website-->
<script src="{{ url_for('static', filename='client.js') }}">

<script> history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
    
    var uname = '{{username}}';
    var acc = '{{accepted}}';
    console.log("In html")
    console.log(acc)
    var Quotation = '{{quotation}}'

    function getData()
    {
      return acc;
    }
  </script>

</head>
<!--<img src="{{url_for('static', filename='income.jpg')}} width='100%'' height='100%'" >-->
<body style="height: 100%;background-color:white;background-image:url('{{url_for('static', filename='income.jpg')}}'">

<!--<button class="tablink" onclick="openPage('RequestService', this, 'black')" id="defaultOpen">Request a service</button>
<button class="tablink" onclick="openPage('ViewService', this, 'black')" >View status of services</button>
<button class="tablink" onclick="openPage('TaxCalculator', this, 'black')">Tax Calculator</button>
<button class="tablink" onclick="openPage('contact', this, 'black')">Messages & Documents</button>
<button class="tablink" onclick="logOut()">LogOut</button>-->



<nav class="navbar navbar-inverse" style="background-color:grey">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:white">CLIENT</a>
    </div>
    <ul class="nav navbar-nav">
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="openPage('RequestService', this, 'grey')" id="defaultOpen">REQUEST A SERVICE</button></li>
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="openPage('ViewService', this, 'grey')" >VIEW STATUS OF SERVICE</button></li>
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="openPage('TaxCalculator', this, 'grey')">TAX CALCULATOR</button></li>
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="openPage('contact', this, 'grey')">MESSAGES AND DOCS</button></li>
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="obj.linkclick(event)">NOTIFICATIONS</button></li><!--added link click function defined in client.js-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="logOut()">LogOut</button></li>
    </ul>
  </div>
</nav>


<div  id="RequestService" class="tabcontent">

 
<p align = "center" class="content" id="uname" ><h2 align="center">Hi {{username}} ! Now you can request for a service with the firm </h2></p>
			<br/> <br/>
  			<form name = "myForm" id = "myForm" method="post" enctype=multipart/form-data>
				<div class="formelement">
				<label class="col-sm-2" style="font-size:18px"> Type of Service </label>
				<!--<br/> <br/><br/>-->
				<select id = "service"  class = "select" name = "service">
          <option  value='GST Registration'> GST Registration </option>
          <option value='Projections'> Projections </option>
          <option value='Internal Audit'> Internal Audit </option>
          <option value='Certification'> Certification </option>
          <option value='Registration'> Registration </option>
          <option value='Audit'> Audit </option>
          <option value='Representation'> Representation </option>
          <option value='TDS'> TDS </option>
          <option value='Profession tax'> Profession tax </option>
          <option value='Accounting'> Accounting </option>
          <option value='Annual Return'> Annual Return </option>
          <option value='Financials'> Financials </option>
          <option value='GST Audit'> GST Audit </option>
          <option value='GST Return'> GST Return </option>
          <option value='Income Tax'> Income Tax </option>
          <option value='Project Report'> Project Report </option>
          <option value='Other'> Other </option>
        </select>
				</div>
				<br/>
				<br/>
				<label class="col-sm-2" style="font-size:18px"> Service Decription </label>
				<!--<br/><br/>-->
				<div class="formelement">
				<div class="form-group">
		
  				<textarea  class="form-control" rows="5" style="width:50%" name="description" id="description" placeholder="Description of Service" ></textarea>
				</div>
				<!--<input type="text" style = "height:300px;width:500px" name="description" id="description" placeholder="Description of Service" />-->


    			</div>
    			<br/>
				<label class="col-sm-4" style="font-size:18px"> Upload necessary document </label>
				<br/><br/><br/>
				<div id = "filesdiv">
					<div class="formelement" id = "onefile">
					<input class="col-sm-2" id = "files" type = file  name = "files[]" multiple="">
					<img src="{{url_for('static', filename='x.gif')}}" class='remove'>
					<input type = "text" class="col-sm-2" name = "filedesc" id="filedesc" placeholder = "Enter a file description">
					</div>
					<br/>
					<div class="formelement" id ="onefile">
					<input class="col-sm-2" id = "files" type = file  name = "files[]" multiple="">
					<img src="{{url_for('static', filename='x.gif')}}" class='remove'>
					<input type = "text" class="col-sm-2" name = "filedesc" id="filedesc" placeholder = "Enter a file description">
					</div>
					<br/>
					<div class="formelement" id ="onefile">
					<input class="col-sm-2" id = "files" type = file  name = "files[]" multiple="">
					<img src="{{url_for('static', filename='x.gif')}}" class='remove'>
					<input type = "text" class="col-sm-2" name = "filedesc" id="filedesc" placeholder = "Enter a file description">
					</div>

				</div>
				<br/><br/>
				<div class="formelement">
				<p align="center">
				<button name="upload" class = "button" id="btnUpload" value="Upload another document" style="margin-left:auto;margin-right:auto;"> Upload another document
				</button>
				</p>
				</div>
				<br/>
				<div class="formelement">
				<p align="center">
    			<button name="submit" class="button" id= "btnSubmit" value="Submit Request"> Submit Request </button>
    			</p>
				</div>
  			</form>
</div>

<div id="ViewService" class="tabcontent">

  <!--<input type="text" id="myInput" class="col-sm-4" class = "searchByToken" placeholder="Search for service by Token number.."/>-->
  <br/>
  <br/>
  <select class="col-sm-4" id="filterByStatus">
                    <option value='ALL' selected="selected">Select by status of service</option>
                    <option value="Not Accepted">Not Accepted</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Need Action from client">Need Action from client</option>
	</select>
	<br/> <br/>

	<table class="table table-bordered" id = "myTable">
         <thead>
            <th>Client Name</th>
            <th>Token number</th>
            <th>Date Requested</th>
            <th>Quotation</th>
            <th>Type of Service</th>
            <th>Status</th>
            <th>Employee Assigned</th>
            <th>Estimated completion date</th>
            <th>Feedback</th>
            <th>Upload file</th>
         </thead>
         <tbody>
         {% for row in items %}
            <tr >
            	<td>{{username}}</td>
               <td  span class = "tok">{{row[0]}} </td>
               <td >{{row[1]}}</td>
               <td>{{row[2]}} <button class="accept" display="block" type="button">Accept Service </button></td>
               <td>{{row[3]}} </td>
               <td class = "status">{{row[4]}}</td>
               <td>{{row[5]}}</td>
               <td>{{row[6]}}</td>
               <td><input type="text" style="color:black" id="feedback" class="feedback" placeholder="Enter feedback"/> <button class="btnFeedback" type="button"> Add Feedback </button></td>

               <td>
               	<form class="data" method="post" enctype="multipart/form-data">

               	<input type="file" name="serv_file" class="serv_file">
               	<input type="text" name ="serv_desc" class = "serv_desc" placeholder="Description">
               	<input type="hidden" name ="serv_token" class = "serv_token" value = {{row[0]}} placeholder="Description">
               	<button class="btnServiceFile" type="button"> Add a file for this service </button>
               	</form>
               </td>
	       
            </tr>
         {% endfor %}
     </tbody>
     </table>

</div>

<div id="TaxCalculator"  class="tabcontent"   >
 
<div id="bg" style="height:700px">
      <div id="outer" style="font-family:verdana;">
        <h1 class="col-sm-4"> Income Tax Calculator </h1>
        <br/><br/><br/><br/><br/>
        <br/>
        <br/>
        <b class="col-sm-4">Choose your category:&nbsp;&nbsp;</b>
       
        <select id="typ" onchange="new_elem()">
            <option value="ind1">Individual < 60 years of Age</option>
            <option value="ind2">Resident Individual between 60 and 80 years of age</option>
            <option value="ind3">Resident Individual above 80 years of age</option>
            <option value="jud">HUF/AOP/BOI/Any other Artifical Judicial Person</option>
            <option value="part">Partnership Firm</option>
            <option value="local">Local Authority</option>
            <option value="dom">Domestic Company</option>
            <option value="for">Foreign Company</option>
            <option value="coop">Co-operative Society</option>
        </select><br><br>
        <b class="col-sm-4">Enter Income Amount:&nbsp;&nbsp;&nbsp;&nbsp;</b> <input type="number" id="num" placeholder="Enter Income Amount" />
        <div id="gross"></div><br>
        <button style="position: relative;left:450px;" onclick="calc()"> Calculate </button><br><br>
        <div id="out">
        </div>
      </div>
    </div>

</div>

<div id="contact"  class="tabcontent" >
<br/>
<div class="w3-bar w3-black">
  <button style="background-color: white, color:black" class="tabbutton" onclick="openTab('messages')">Messages</button>
  <button class="tabbutton" onclick="openTab('ServiceDocs')">Completed Service Documents</button>
  <button class="tabbutton" onclick="openTab('InvoiceDocs')">Invoice Documents</button>
</div>

<div id="messages" class="tabtype">
  <br/><br/><br/>
  <div>
	  <h3>Messages</h3>
	  
	<a id="button-for-compose-mail" href="#compose-mail">Send New Message</a>
	</div>
	<div class = "Messages">
	<table class="table table-bordered" class="display" id = "myTable2">
         <thead>
            <th>From</th>
            <th>Message</th>
            <th>Time</th>
         </thead>
         <tbody>
         {% for row in messages %}
            <tr >
            	<td>{{row[0]}}</td>
               <td>{{row[2]}}  <a class = "compose-mail-reply" href="#compose-mail"> Reply</a></td>
               <td >{{row[1]}}</td>
            </tr>
         {% endfor %}
     </tbody>
     </table>	
	</div>
	 
		<div id="compose-mail-container">
		  <div id="compose-mail" class="hidden">
		    <form action="example.com">
		    	<fieldset>
		        <label >Compose your message</label>
		      </fieldset>
		      <br/><br/>
		      <fieldset>
		        <label for="to">To</label>
		        <br/><br/>
		        <input type="text" id="to">
		        <br/><br/>
		        <label for="from">From</label>
		        <br/><br/>
		        <input type="text" id="from">
		      </fieldset>
		      <fieldset>
		        <label for="content">Content</label>
		        <br/><br/>
		        <textarea name="content" id="content" style="height:50px"></textarea>
		      </fieldset>
		      <fieldset>
		      	<br/><br/>
		        <button type="button" class = "button" id="btnSendMessage"  value="Send Message"> Send Message </button>
		      </fieldset>
		    </form>
		    <br/><br/>
		    <a id="close-button" href="#">Close Dialog</a>
		  </div>
		</div>
 
	</div>
	
  <div id="ServiceDocs" class="tabtype" style="display:none">  
   <br/><br/><br/>	
    <h3>Completed Service Documents</h3> 
  	
  	<br/><br/>
	<table class="table table-bordered" class="display" id = "myTable3">
         <thead>
            <th>Token</th>
            <th>Filename</th>
            <th>Description</th>
         </thead>
         <tbody>
         {% for row in files %}
            <tr >
            	<td>{{row[0]}}</td>
               <td>  <a class = "file-download" href="#myTable3" > {{row[1]}}</a></td>
               <td >{{row[2]}}</td>
            </tr>
         {% endfor %}
     </tbody>
     </table>	
	</div> 

  	<div id="InvoiceDocs" class="tabtype" style="display:none"> 
     <br/><br/><br/>  
  	<h3>Completed Invoice Documents</h3> 
  	<br/><br/>
	<table class="table table-bordered" class="display" id = "myTable4" >
         <thead>
            <th>Token</th>
            <th>Filename</th>
            <th> Generated by </th>
            <th> Time Generated</th>
            
            <th>Amount</th>
         </thead>
         <tbody>
         {% for row in invoice %}
            <tr >
            	<td>{{row[0]}}</td>
            	<td>  <a class = "invoice-file-download" href="#myTable4"> {{row[3]}} </a></td>
            	<td>{{row[1]}}</td>
            	<td>{{row[2]}}</td>
               
               <td >{{row[4]}}</td>
            </tr>
         {% endfor %}
     </tbody>
     </table>	
	</div> 
  </div>

  <div id="Notifications" class = "tabcontent" >
    <script type="text/javascript" src="http://output71.rssinclude.com/output?type=js&amp;id=1198760&amp;hash=8f510fe9ecc18bb3735668dfd1e48b5f"></script>
  </div>

<script src="{{ url_for('static', filename='ClientHome.js') }}">

</script>

     
</body>

</html> 
