<!doctype html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">-->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <style>
  .container{
    width:95%;
    margin:2.5%;
  }
</style>
<script src="{{ url_for('static', filename='EmployeeHome.js') }}"> </script>
<link rel="stylesheet" href="{{url_for('static', filename='ClientHome.css')}}">
</head>
   <body">   

            <br>
            <br>


<nav class="navbar navbar-inverse" style="background-color:grey">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:white">EMPLOYEE</a>
    </div>
    <ul class="nav navbar-nav">
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="openPage('ViewTasks', this, 'black')" id="defaultOpen">View Tasks for the day</button></li>
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="openPage('UploadDocuments', this, 'black')" >Upload Completed Documents</button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="logOut()">LogOut</button></li>
    </ul>
  </div>
</nav>



<p align = "center" id="uname" >Hi {{username}} ! Here's your work for the day! </p>


<div id="ViewTasks" class="tabcontent">

<br>
      Services not Completed<br><br>
      <table border = 1 id = "myTable" onload="sortTable(4)" class="table table-hover">
          <thead style = "color:black;">
            <th style="color:black" onclick="sortTable(0)">Token Number</th>
            <th style="color:black" onclick="sortTable(1)">Type of Service</th>
            <th style="color:black" onclick="sortTable(2)">Description</th>
            <th style="color:black" onclick="sortTable(4)">Estimated Date of Completion</th>
            <th style="color:black" onclick="sortTable(3)">Time Remaining</th>
            <th style="color:black">Mark Completed</th>
            <th style="color:black">Return Task to Partner</th>
            <th style="color:black">Set Task Status for Partner</th>
            <th style="color:black">Set Task Status for Client</th>
            <th style="color:black">Download Client's Files</th>
            <th style="color:black">Upload Completed Files</th>
               
         
          </thead>
          
          {% for row in rows4 %}
             <tr>
                <td>{{row[0] }} </td>
                <td>{{row[2]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[4]}}</td>
                <td><!-- {{row["ESTIMATED_TIME_OF_COMPLETION - CURRENT_TIMESTAMP"]}} --></td>   <!--EDIT HERE TO INPUT DATE DIFFERENCE CODE     -->
                <td><button type="button" class = "button"  value="MarkCompleted" onclick="MarkCompleted({{row[0] }} )"> Mark Completed </button></td>
                <td><button type="button" class = "button"  value="ReturnPartner" onclick="RejectTask({{row[0]}})"> Return Task to Partner </button></td>
                <td><input type="text" id = "SetPartnerStatus"><button type="button" class = "button1" display="block"  value="SubmitPartnerStatus" onclick="SetPartnerStatus(this)">Set Partner Status </button></td><
                <td><input type="text" id = "SetClientStatus"><button type="button" class = "button2" display="block"   value="SubmitClientStatus" onclick="SetClientStatus(this)">Set Client Status</button></td>
                <td>
                  <table border=True>
                    <tr>
                      <th>
                        Token Number
                      </th>
                      <th>
                        File
                      </th>    
                      <th>
                        Description
                      </th>
                    </tr>
                    {% for rowinner in files if rowinner[0] == row[0] %}

                      <tr>
                        <td >{{rowinner[0]}}</td>
               			    <td>  <a class = "file-download" href="#myTable" onclick="DownloadServiceDocs(this)"> {{rowinner[1]}}</a></td>
                        <td >{{rowinner[2]}}</td>
            	        </tr>
           			    {% endfor %}
                  </table>
     			      </td> 
             </tr>



          {% endfor %}
       </table>

      <br>
      <br>
      Services Completed but not Verified<br><br>
      <table border = 1 class="table table-hover">
          <thead>
             <td>Token Number</td>
             <td>Type of Service</td>
             <td>Description</td>
       
          </thead>
          
          {% for row in rows5 %}
             <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
             </tr>
          {% endfor %}
       </table>



  </div>

{% for row in items %}

  <div id="UploadDocuments" class="tabcontent">
                <form class="data" method="post" enctype="multipart/form-data">

                <input type="file" name="serv_file" class="serv_file">
                <input type="text" name ="serv_desc" class = "serv_desc" placeholder="Description">
                <input type="number" name ="serv_token" class = "serv_token" placeholder="Enter Token number">
                <button class="btnServiceFile" type="button" onclick="UploadCompletedServiceFile(this)"> Add a file for this service </button>
                </form>
</div>
{% endfor %}

<!--
			<div id = "filesdiv">

              <div class="formelement" id = "onefile">
                <input  type = file  name = "files[]" multiple="">
                <img src="{{url_for('static', filename='x.gif')}}" class='remove'>
                <input type = "text" name = "filedesc"  placeholder = "Enter a file description">
              </div>

              <br>
              <div class="formelement" id ="onefile">
                <input id = "files" type = file  name = "files[]" multiple="">
                <img src="{{url_for('static', filename='x.gif')}}"  class='remove'>
                <input type = "text" name = "filedesc"  placeholder = "Enter a file description">
              </div>
              <br><br>
              </div>
                <div class="formelement">
                <button type="button" name="upload" class = "button" id="btnUpload" value="Upload another document"> Upload another document
                </button>
                </div>

              <br/><br/>
-->
<ul class="nav navbar-nav navbar-right">
      
      <li><button class="btn btn-lg" style="color: white;background-color:grey;font-size:15px" onclick="logOut()">LogOut</button></li>
    </ul>
   </body>

</html>
