<!DOCTYPE html>
<html>
<head><title>Employee Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
  #ViewTasks {
    background: black;
}
</style>
<link rel="stylesheet" href="{{url_for('static', filename='ClientHome.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='TableStyle.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script> history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
    var uname = '{{username}}'
  </script> 
</head>

<body style="height: 100%;">


<button class="tablink" onclick="openPage('ViewTasks', this, 'black')" >View Tasks for the day</button>
<button class="tablink" onclick="openPage('contact', this, 'black')" >Messages</button>

<p>{{username}} {{testtext}}</p>
<p align = "center" id="uname" >Hi {{username}} ! Here's your work for the day! </p>



<div id="ViewTasks" class="tabcontent">
  <input type="text" id="myInput" class = "searchByToken" onkeyup="searchByToken()" placeholder="Search for service by Token number.."/>
  <br/>
  <br/>
  <select id="filterByStatus">
                    <option value='ALL' selected="selected">Select by status of service</option>
                    <option value="Not Accepted">Not Accepted</option>
                    <option value="In Progress" selected="selected">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Need Action from client">Need Action from client</option>
  </select>
  <br/> <br/>

  <table border = 1 id = "myTable" onload="sortTable(6)">
         <thead>
            <th onclick="sortTable(0)">Client Name</th>
            <th onclick="sortTable(1)">Token number</th>
            <th onclick="sortTable(2)">Date Requested</th>
            <th onclick="sortTable(3)">Quotation</th>
            <th onclick="sortTable(4)">Type of Service</th>
            <th onclick="sortTable(5)">Status</th>
            <th onclick="sortTable(6)">Estimated completion date</th> 
            <th onclick="sortTable(7)">Days Left</th>
            <th>Feedback</th>
            <th>Uploaded Files</th>
            <th><button type="button" class = "button" id="MarkCompleted"  value="MarkCompleted"> Mark Completed </button></th>
            <th><button type="button" class = "button" id="ReturnPartner"  value="ReturnPartner"> Return Task to Partner </button></th>

         </thead>
         <tbody>
         {% for row in items %}
            <tr >
              <td>{{username}}</td>
               <td>{{row[0]}}</td>
               <td  class = "tok">{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>
               <td class = "status">{{row[4]}}</td>
               <td>{{row[5]}}</td>
               <td>{{row[6]}}</td>
               <td><input type="text" style="color:black" id="feedback" class="feedback" placeholder="Enter feedback"/> <button id="btnFeedback" type="button"> Add Feedback </button></td>

               <td>
                <form class="data" method="post" enctype="multipart/form-data">

                <input type="file" name="serv_file" class="serv_file">
                <input type="text" name ="serv_desc" class = "serv_desc" placeholder="Description">
                <input type="hidden" name ="serv_token" class = "serv_token" value = {{row[0]}} placeholder="Description">
                <button class="btnServiceFile" type="button"> Add a file for this service </button>
                </form>
               </td>
         
            </tr>
         {% endfor %}
     </tbody>
     </table>

</div>





<div id="contact" class="tabcontent" style="height:100%">
<div class="parts">
 <div class="part">
  <div>
    <h3>Messages</h3>
    
  <a id="button-for-compose-mail" href="#compose-mail">Send New Message</a>
  </div>
  <div class = "Messages">
  <table border = 1 id = "myTable">
         <thead>
            <th>From</th>
            <th>Message</th>
            <th>Time</th>
         </thead>
         <tbody>
         {% for row in messages %}
            <tr >
              <td>{{row[0]}}</td>
               <td>{{row[2]}}  <a id = "compose-mail-reply" href="#compose-mail"> Reply</a></td>
               <td >{{row[1]}}</td>
            </tr>
         {% endfor %}
     </tbody>
     </table> 
  </div>
  
    <div id="compose-mail-container">
      <div id="compose-mail" class="hidden">
        <form action="example.com">
          <fieldset>
            <label >Compose your message</label>
          </fieldset>
          <br/><br/>
          <fieldset>
            <label for="to">To</label>
            <br/><br/>
            <input type="text" id="to">
            <label for="from">From</label>
            <br/><br/>
            <input type="text" id="from">
          </fieldset>
          <fieldset>
            <label for="content">Content</label>
            <br/><br/>
            <textarea name="content" id="content" style="height:50px"></textarea>
          </fieldset>
          <fieldset>
            <br/><br/>
            <button type="button" class = "button" id="btnSendMessage"  value="Send Message"> Send Message </button>
          </fieldset>
        </form>
        <br/><br/>
        <a id="close-button" href="#">Close Dialog</a>
      </div>
    </div>
  </div>
  
  <div class="part">  
    <div class = "Service docs">
    <h3>Completed Service Documents</h3> 
    
    <br/><br/>
  <table border = 1 id = "myTable">
         <thead>
            <th>Token</th>
            <th>Filename</th>
            <th>Description</th>
         </thead>
         <tbody>
         {% for row in files %}
            <tr >
              <td>{{row[0]}}</td>
               <td>  <a class = "file-download" href="#myTable" > {{row[1]}}</a></td>
               <td >{{row[2]}}</td>
            </tr>
         {% endfor %}
     </tbody>
     </table> 
  </div> 

    <div class = "Service docs">
    <h3>Completed Invoice Documents</h3> 
    <br/><br/>
  <table border = 1 id = "myTable">
         <thead>
            <th>Token</th>
            <th>Filename</th>
            <th> Generated by </th>
            <th> Time Generated</th>
            
            <th>Amount</th>
         </thead>
         <tbody>
         {% for row in invoice %}
            <tr >
              <td>{{row[0]}}</td>
              <td>  <a class = "invoice-file-download" href="#myTable"> {{row[3]}} </a></td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
               
               <td >{{row[4]}}</td>
            </tr>
         {% endfor %}
     </tbody>
     </table> 
  </div> 
   </div>
</div>
</div>

<!--
<script src="{{ url_for('static', filename='ClientHome.js') }}"> </script>
-->
<script src="{{ url_for('static', filename='EmployeeHome.js') }}"> </script>
</body>
</html> 
